<div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">AWS IAM</h3>
              </div>
            </div>
        

             <div class="block animated jackInTheBox faster"><!--CIRCLES-->
 
 <app-circle [circlename]="'No of Users'" [circledata]=usercount [circledescription]="'These are the number of users in your account'"></app-circle>
   <app-circle style="margin:40px;margin-top:0px" [circlename]="'No of Groups'" [circledata]=groupcount [circledescription]="'These are the number of Groups '"></app-circle>
   <app-circle [circlename]="'No of Roles'" [circledata]='1' [circledescription]="'These are the number of Roles in your account'"></app-circle>
</div>


<div class="block"><!--BUTTONS-->
   <app-button style="margin:40px;" ngbPopover="Create users by giving details" triggers="mouseenter:mouseleave" (click)="openmodal(createusercontent)" [btntitle]="'Create users'" ></app-button> -->
   <!-- <app-button style="margin:40px;"  ngbPopover="Create groups by giving details" triggers="mouseenter:mouseleave"(click)="getbuckets()" [btntitle]="'Create groups'" ></app-button>
    <app-button style="margin:40px;"  ngbPopover="Delete a user by providing name" triggers="mouseenter:mouseleave" (click)="getbuckets()" [btntitle]="'delete user'" ></app-button> -->
   <app-button style="margin:40px;"  ngbPopover="Go back to main dashboard" triggers="mouseenter:mouseleave"[btntitle]="'Back'" routerLink="/main"></app-button>
   
</div>

<h1> Users. </h1>

<div class="row equal-height">
   <div class="col-lg-6 col-md-6 col-sm-6 mb-4  animated flipInX">
      <div class="stats-small stats-small--1 card card-small">
         <div class="card-body p-0 d-flex hvr-reveal">
           <div class="d-flex flex-column">
             <div class="stats-small__data text-center">
               <h3 class="stats-small__value count my-3">Users</h3>
               <ul  *ngFor="let user of userlist">
                  <li class="fa fa-user"> {{user.Username}} </li>
                </ul>
             </div>
             
           </div>
          
         </div>
       </div>
   </div>

   <div class="col-lg-6 col-md-6 col-sm-6 mb-4  animated flipInX">
      <div class="stats-small stats-small--1 card card-small">
         <div class="card-body p-0 d-flex hvr-reveal">
           <div class="d-flex flex-column">
             <div class="stats-small__data text-center">
               <h3 class="stats-small__value count my-3">Groups</h3>
               <ul  *ngFor="let group of grouplist">
                  <li class="fa fa-user"> {{group.Name}} </li>
                </ul>
             </div>
             
           </div>
          
         </div>
       </div>
   </div>

</div>

 

<ng-template #createusercontent let-modal>
   <div class="modal-header">
     
 

      <h4 class="modal-title" id="modal-basic-title">Create Users</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
     
   </div>
   <div class="modal-body">
     <div class="container-fluid">
       <div class="row">
      <div class="col">User name:</div> <div class="col"><input type="text" [(ngModel)]="username" name="fname"></div></div>
     
       </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createusers()">Create Users</button>
   </div>
</ng-template>
