<div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">AWS IAM</h3>
              </div>
            </div>
             <div class="block">
<app-circle [circlename]="'No of Buckets'" [circledata]='5'></app-circle>
<app-circle [circlename]="'No of Buckets'" [circledata]='5'></app-circle>
<app-circle [circlename]="'No of Buckets'" [circledata]='5'></app-circle>
            </div>
<app-button [btntitle]="'Create users'" (click)="getusers()"></app-button>			
<app-button [btntitle]="'Back'" routerLink="/main"></app-button>