<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://s3.ap-south-1.amazonaws.com/awsngicons/s3-light.png" style="width:80px;height:80px" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
       <input type="text" label="Bucket Name" id="login" class="fadeIn second" name="login" placeholder="Bucket Name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
       <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">

      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

 

  </div>
</div>